main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: var(--dark-blue);
  width: calc(100vw - 45rem);
  margin: 0 auto;
  padding: 0 1rem;
}

.hero-image {
  width: 550px;
  height: 25rem;
  object-fit: cover;
  flex-grow: 0;
  flex-shrink: 0;
}

.hero-main-text {
  color: var(--white-low);
  font-size: 4.8rem;
}

.main-left {
  margin-right: 10rem;
}

.main-left h1 {
  margin-bottom: 2rem;
}

main p {
  font-size: 1.8rem;
  color: var(--white-lower);
  margin-bottom: 1.5rem;
  line-height: 1.7;
}

main button {
  background-color: var(--main-blue);
  padding: 1rem 4rem;
  font-size: 1.6rem;
  color: var(--white-low);
  font-weight: bold;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}