.random-container {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 45rem);
    margin: 0 auto;
}

.random-container h2 {
    font-size: 3.6rem;
    font-weight: 900;
    color: var(--dark-blue);
    padding: 5rem 0;
    margin: 0;
    text-align: center;
}

.random-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 5rem;
    padding: 0 10rem;
}

.random-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.random-info>img {
    width: 25rem;
    height: 25rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 1.5rem;
    border: 5px solid var(--main-blue);
}

.random-info p {
    text-align: center;
    padding: 0 .1rem;
    margin-top: 1rem;
    font-size: 1.8rem;
}

/* Testimonials css goes here */
.testimonials {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    margin: 10rem auto 0 auto;
    background-color: var(--white-lower);
}

.testimonials p:first-child {
    font-size: 3.6rem;
    font-style: italic;
    font-weight: 300;
    color: var(--dark-blue);
    padding: 10rem 35rem 0 35rem;
    text-align: center;
}

.testimonials p:nth-child(2) {
    text-align: right;
    padding: 0 40rem 10rem 0;
    font-size: 2.4rem;
    font-weight: 900;
    color: var(--dark-blue);
}

/* Calltoaction css goes here */
.calltoaction {
    background-color: #fff;
    padding: 10rem 0;
}

.calltoaction-container {
    width: calc(100vw - 60rem);
    margin: 0 auto;
    background-color: var(--main-blue);
    display: flex;
    justify-content: space-around;
    padding: 5rem 10rem;
    border-radius: 2rem;
}

.calltoaction-container h2 {
    font-size: 2.4rem;
    color: var(--white-low);
}

.calltoaction-container p {
    font-size: 1.6rem;
    color: var(--white-lower);
    margin-top: .5rem;
}

.calltoaction-container button {
    background-color: var(--main-blue);
    padding: 0 5rem;
    font-size: 1.8rem;
    color: var(--white-low);
    font-weight: 700;
    border-radius: 1rem;
    border: .2rem solid var(--white-low);
    cursor: pointer;
}